name: Deploy to S3

on:
  release:
    types: [created]

# Required for authenticating with AWS IAM
permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::693696263829:role/token-list-github-action-role
          role-session-name: githubactionsession
          aws-region: eu-central-1

      - name: Upload to S3
        run: |
          aws s3 cp src/public/test.txt s3://files.cow.fi/test.txt

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.DISTRIBUTION }} \
            --paths "/*"
